*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic Styles */
html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Sidebar Styles */
li i {
    font-size: 2rem;
    margin-right: 2rem;
}

.navbar li:first-child {
    margin-bottom: 2rem;
}

.navbar li:hover,
.search-playlist i:hover,
.search-playlist .dropdown-lists:hover,
.library-container .library:hover,
.create-playlist i:hover {
    color: #fff;
    cursor: pointer;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.sidebar {
    width: 30%;
    max-width: 45rem;
    min-width: 30rem;
    float: left;
    padding: 1rem 0 0 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
    margin-top: 2rem;
}

.mr {
    margin-right: 2rem;
}

.top-sidebar,
.bottom-sidebar {
    background-color: #131312;
    border-radius: 7px;
    font-size: 1.6rem;
    padding: 2rem;
}

.bottom-sidebar {
    height: 80.1vh;
}

/* Library container */
.library-container {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.library-container .library {
    float: left;
}

.library i {
    margin-right: 1rem;
}

.library span {
    font-size: 1.5rem;
}

.library-container .create-playlist {
    float: right;
}

.create-playlist :first-child {
    margin-right: 2rem;
}

.badge-item {
    font-size: 1.3rem;
    background-color: #232222;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 500px;
}

.badge-item:hover {
    cursor: pointer;
}

.search-playlist .fa-magnifying-glass {
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.search-playlist i:hover {
    background-color: #232222;
    border-radius: 50%;
}

.search-playlist i {
    float: left;
}

.search-playlist .dropdown-lists {
    float: right;
    position: relative;
    top: 21px;
}

.dropdown-lists * {
    float: left;
}

.recents {
    margin-right: 1rem;
    font-size: 1.4rem;
}

/************************
**** Card section
************************/
.cards-container {
    margin-top: 7rem;
    clear: both;
    height: 67vh;
    overflow-y: scroll;
}

.card {
    height: 6rem;
    padding: 0.5rem 0;
    line-height: 1.7;
    margin-bottom: 0.5rem;
}

.card:hover {
    background-color: #1a1a1a;
    cursor: pointer;
    border-radius: 7px;
}

.card img {
    width: 5rem;
    float: left;
    margin-right: 1rem;
    border-radius: 5px;
}

.card h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.6rem;
}

.card p {
    font-size: 1.2rem;
}

.card .period {
    font-size: 3px;
    position: relative;
    left: 10.7%;
    top: 10px;
    margin: 0 0.4rem;
}

/* Main content section */
.main-content {
    height: 91vh;
    background-color: #121212;
    overflow: hidden;
    overflow-y: visible;
    width: calc(100% - 47rem);
    float: right;
    margin: 1rem;
    border-radius: 7px;
    background: rgb(192, 59, 52);
    background: linear-gradient(180deg,
            rgb(223, 71, 63) 1%,
            rgb(19, 18, 19) 28%);
}

.main-content header {
    padding: 2rem;
}

.main-music-container h2 {
    font-size: 3rem;
    color: #fff;
    margin: 2rem 0;
    margin-top: 0;
}

.btn {
    background-color: rgba(23, 7, 5, 0.8);
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
}

.btn-success {
    background-color: #1fd761;
}

.button-container {
    float: left;
}

.button-container button {
    font-size: 1.5rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.button-container button:hover {
    cursor: pointer;
}

.profile-section {
    float: right;
}

.profile-section button {
    border-radius: 200px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
}

.download {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    bottom: 18px;
    transition-property: transform;
    transition-duration: 100ms;
    transition-delay: 5ms;
}

.profile-section img {
    transition: transform 100ms linear 5ms;
}

.profile-section img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.download:hover {
    transform: scale(1.1);
}

.download button {
    cursor: pointer;
}

.download span {
    margin-left: 7px;
}

.profile-section img {
    width: 4rem;
    border-radius: 100%;
    position: relative;
    bottom: 2px;
}

.wrapper-card {
    width: 32%;
    display: inline-block;
    background-color: rgba(220, 120, 115, 0.268);
    padding-bottom: 0;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding-right: 2rem;
    height: 7.5rem;
    position: relative;
    transition: background-color 100ms;
}

.wrapper-card:not(.wrapper-card:nth-child(3n)) {
    margin-right: 2.8rem;
}

.wrapper-card:hover {
    cursor: pointer;
    background-color: rgba(174, 106, 102, 0.268);
}

.wrapper-card img {
    width: 7.5rem;
    height: auto;
}

.wrapper-card span {
    margin-left: 1.6rem;
    color: #fff;
    position: relative;
    bottom: 30px;
    font-weight: 700;
    font-size: 1.5rem;
}

.wrapper button {
    color: #222;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: 100%;
}

.card-contents {
    float: left;
}

.wrapper-card button {
    position: absolute;
    right: 1.4rem;
    top: 2rem;
}

section header.sub-section {
    padding-top: 0;
}

header.sub-section h3 {
    font-size: 2.5rem;
    padding-top: 0;
    color: #fff;
    float: left;
}

.sub-section a {
    text-decoration: none;
}

.sub-section a:hover,
header.sub-section > a:hover {
    text-decoration: underline;
}

header.sub-section > a {
    font-weight: 700;
    float: right;
    font-size: 1.4rem;
    position: relative;
    top: 12px;
}

.sub-section ~ .card-container {
    padding: 0 2rem;
}

.card-container .card {
    width: 18em;
    padding: 1.2rem;
    background-color: #191918;
    height: auto;
    border-radius: 7px;
    margin-right: 2rem;
    display: inline-block;
    transition: background-color 100ms;
}

.card-container .card:hover {
    background-color: #292829;
}

.card-container .card img {
    float: none;
    width: 100%;
}

.card-container .card h3 {
    font-size: 1.6rem;
    color: #fff;
    margin: 1rem 0;
}

.card-container .card p {
    font-size: 1.4rem;
}

/*********************************
******** Footer
*********************************/
.main-content-footer {
    margin: 10rem 2rem 4rem;
    position: relative;
}

.main-footer-container .contact-us {
    position: relative;
    width: 65%;
}

.main-footer-container .contact-us  > * {
    display: inline-block;
    vertical-align: top;
    margin-right: 8rem;
    font-size: 1.5rem;
}

.contact-us h3 {
    font-weight: 700;
    color: #fff;
}

.contact-us li {
    margin: 1.2rem 0;
}

.contact-us li:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.main-footer-container .social-media-handles {
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 1.4rem;
}

.social-media-handles i {
    background-color: #282928;
    padding: 1.1rem 1.2rem;
    border-radius: 100%;
    color: #fff;
    transition: background-color 100ms;
}

.social-media-handles i:hover {
    background-color: #727272;
}

.main-footer-container p {
    border-top: 1px solid #4c4c4f;
    margin-top: 6rem;
    text-align: center;
    font-size: 1.4rem;
    transition: color 100ms;
    padding-top: 1.2rem;
    cursor: pointer;
}

.main-footer-container p:hover {
    color: #fff;
}

/*********************************
***** Controls
*********************************/
/* Music Controls Section */
.music-controls {
    z-index: 1;
    position: relative;
    bottom: 0;
    margin-top: 1rem;
    height: 6vh;
    padding: 0 2rem 0 2.5rem;
    clear: both;
    padding-top: 1.5rem;
}

/* Left controls section */
.left-controls,
.middle-controls,
.right-controls {
    display: inline-block;
}

div[class*="song"] {
    float: left;
    margin-right: 1.5rem;
}

.fa-solid.fa-shuffle {
    margin-left: 3rem;
}

.song-details {
    transform: translateY(20%);
    margin-right: 2rem;
}

.song-details a {
    text-decoration: none;
}

.song-details :first-child {
    margin-bottom: 0.2rem;
}

.song-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.song-artist:hover {
    color: #fff;
}

.song-title:hover,
.song-artist:hover {
    text-decoration: underline;
}

.left-controls img {
    width: 5rem;
}

.song-like-section {
    transform: translateY(60%);
    font-size: 1.7rem;
    line-height: 1.4;
}

.song-like-section:hover {
    color: #fff;
}

/* Middle Controls */
.middle-controls {
    width: 40%;
    margin-left: 30rem;
    text-align: center;
}

.playback-controls {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.playback-controls i[class^="fa"] {
    margin-right: 2rem;
}

.playback-controls i[class^="fa"]:hover {
    color: #fff;
}

.fa-circle-pause {
    transition-property: transform;
    transition-duration: 100ms;
    transition-delay: 5ms;
}

.fa-circle-pause:hover {
    transform: scale(1.2);
}

.timer-controls span {
    position: relative;
    bottom: 6px;
}

input.slider {
    width: 50rem;
    height: 0.4rem;
    position: relative;
    bottom: 7px;
}

input.slider:hover {
    --webkit-appearance: none;
}

.start-time {
    right: 1rem;
}

.end-time {
    left: 1rem;
}

.right-controls {
    font-size: 1.3rem;
    padding: 1rem 0;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

input.right-control-slider {
    width: 12rem;
    position: relative;
    top: -0.2rem;
}

.right-controls i[class^="fa"]:not(i:last-child),
.right-controls .right-control-slider {
    margin-right: 1rem;
}

.right-controls *:hover {
    color: #fff;
}
