*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Basic Styles */
html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Sidebar Styles */
.sidebar {
    width: 30%;
    max-width: 45rem;
    min-width: 30rem;
    /* display: inline-block; */
    float: left;
}

.mb {
    margin-bottom: 1rem;
}

.top-sidebar,
.bottom-sidebar {
    background-color: #131312;
    border-radius: 5px;
}

.bottom-sidebar {
    height: 87vh;
}

/* Main content section */
.main-content {
    height: 92vh;
    background-color: blue;
    overflow: hidden;
    overflow-y: visible;
    width: calc(100% - 45rem);
}

/*********************************
***** Controls
*********************************/
/* Music Controls Section */
.music-controls {
    z-index: 1;
    position: relative;
    bottom: 0;
    margin-top: 1rem;
    height: 6vh;
    padding: 0 2rem 0 2.5rem;
}

/* Left controls section */
.left-controls,
.middle-controls,
.right-controls {
    display: inline-block;
}

div[class*="song"] {
    float: left;
    margin-right: 1.5rem;
}

.song-details {
    transform: translateY(20%);
    margin-right: 2rem;
}

.song-details a {
    text-decoration: none;
}

.song-details :first-child {
    margin-bottom: 0.2rem;
}

.song-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.song-artist:hover {
    color: #fff;
}

.song-title:hover,
.song-artist:hover {
    text-decoration: underline;
}

.left-controls img {
    width: 5rem;
}

.song-like-section {
    transform: translateY(60%);
    font-size: 1.7rem;
    line-height: 1.4;
}

.song-like-section:hover {
    color: #fff;
}

/* Middle Controls */
.middle-controls {
    width: 40%;
    margin-left: 30rem;
    text-align: center;
}

.playback-controls {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.playback-controls i[class^="fa"] {
    margin-right: 2rem;
}

.playback-controls i[class^="fa"]:hover {
    color: #fff;
}

.fa-circle-pause {
    transition-property: transform;
    transition-duration: 100ms;
    transition-delay: 5ms;
}

.fa-circle-pause:hover {
    transform: scale(1.1);
}

.timer-controls span {
    position: relative;
    bottom: 6px;
}

input.slider {
    width: 50rem;
    height: .4rem;
    position: relative;
    bottom: 7px;
}

input.slider:hover {
    --webkit-appearance: none;
}

.start-time {
    right: 10px;
}

.end-time {
    left: 10px;
}

.right-controls {
    font-size: 1.3rem;
    padding: 1rem 0;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

input.right-control-slider {
    width: 12rem;
    position: relative;
    top: -0.2rem;
}

.right-controls i[class^="fa"]:not(i:last-child),
.right-controls .right-control-slider {
    margin-right: 1rem;
}
.right-controls *:hover {
    color: #fff;
}
